@model UkrStanko.ViewModels.Home.PasswordViewModel

@{
    ViewBag.Title = "Смена пароля";
    Layout = "_LoginLayout";
}

<div class="login">
    <div class="panel">
        <div class="panel-header">
            <h2 class="form-title">@ViewBag.Title</h2>
        </div>

        <div class="panel-body">
            <form asp-action="Password" method="post" novalidate="novalidate" class="form">
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                @*Поле ввода логина*@
                <div class="form-group">
                    <label asp-for="Login" class="form-label"></label>
                    <input asp-for="Login" class="form-input" autocomplete="off" placeholder="@Html.DisplayNameFor(i => i.Login)" tabindex="1" />
                    <span asp-validation-for="Login"></span>
                </div>

                @*Поле ввода email*@
                <div class="form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-input" autocomplete="off" placeholder="@Html.DisplayNameFor(i => i.Email)" tabindex="2" />
                    <span asp-validation-for="Email"></span>
                </div>

                @*Поле ввода пароля*@
                <div class="form-group">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-input" autocomplete="new-password" placeholder="@Html.DisplayNameFor(i => i.Password)" tabindex="3" />
                    <span asp-validation-for="Password"></span>
                </div>

                @*Поле ввода подтверждения пароля*@
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-input" autocomplete="off" placeholder="@Html.DisplayNameFor(i => i.ConfirmPassword)" tabindex="4" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>

                <div class="form-btn-group">
                    <button type="submit" class="btn btn-add">Сохранить</button>
                    <a href="@(User.Identity.IsAuthenticated ? Url.Action("Index", "Notices") : Url.Action("Login", "Home"))" class="btn btn-cancel">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>