@model UkrStanko.ViewModels.Users.EditViewModel

<div class="panel">
    <div class="panel-header">
        <h2 class="form-title">Редактирование пользователя</h2>
    </div>

    <div class="panel-body">
        <form asp-action="Edit"
              method="post"
              novalidate="novalidate"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-update="#main-data"
              data-ajax-begin="$('#waiting-modal').fadeIn('fast')"
              data-ajax-complete="$('#waiting-modal').fadeOut('fast')"
              enctype="multipart/form-data"
              class="form">

            @*Скрытые поля формы*@
            <input asp-for="Id" hidden />
            <input id="PreviousUrl" name="PreviousUrl" hidden />

            @* Поле соединения пользователя *@
            <input id="ConnectionId" name="ConnectionId" hidden />

            @*Поле загрузки фото*@
            @if (Model.ImagePath != null)
            {
                <div id="downloadFileDialog" style="background:url('@Model.ImagePath') 50% 50% no-repeat; background-size: cover" class="form-user-image active">
                    <h5>Фото профиля</h5>
                    <i name="deleteImageButton" class="fa fa-minus-square fa-2x icon-cancel"></i>
                </div>
            }
            else
            {
                <div id="downloadFileDialog" class="form-user-image">
                    <h5>Фото профиля</h5>
                    <i name="deleteImageButton" class="fa fa-minus-square fa-2x icon-cancel"></i>
                </div>
            } @* if *@
            <input id="ImagesInput" type="file" accept="image/*,image/jpeq,image/png" hidden />
            <input asp-for="ImagePath" hidden />

            <div class="validation" asp-validation-summary="ModelOnly"></div>

            @* Поле имени пользователя *@
            <div class="form-group">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-input" placeholder="@Html.DisplayNameFor(model => model.UserName)" autocomplete="off" tabindex="1" />
                <span asp-validation-for="UserName"></span>
            </div>

            @* Поле ввода EMAIL пользователя *@
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-input" placeholder="@Html.DisplayNameFor(model => model.Email)" autocomplete="off" tabindex="2" />
                <span asp-validation-for="Email"></span>
            </div>

            @*Поле ввода выбора роли пользователя*@
            <div class="form-group">
                <label asp-for="Role" class="form-label"></label>
                <input asp-for="Role" class="form-input" placeholder="@Html.DisplayNameFor(model => model.Role)" autocomplete="off" readonly="@(!User.IsInRole("Администратор") ? "readonly": null)" tabindex="4" />
                <span asp-validation-for="Role"></span>
            </div>

            <div class="form-btn-group">
                <button type="submit" class="btn btn-add" onclick="getSavedUrl($('#PreviousUrl'))">Сохранить</button>
                <a onclick="window.history.back()" class="btn btn-cancel">Отмена</a>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_Scripts")